<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
<ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/checknumber">Check Number</a></li>
    <li><a href="/spamcreator">Spam Creator</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/registeruser/create">Register User</a></li>
    <li><a href="/registeruser/user-spam-list">Spam List</a></li>
    <li><a href="/registeruser/user-block-list">blocked List</a></li>
</ul>
</body>
</html>
